Repository njoubert/nielsshootsfilm-planfirst: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, eslint, go-vet-local, golangci-lint

typescript-typecheck:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

go-vet-local:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd backend && golangci-lint run --fix'
  language: system
  pass_filenames: false

feat(test): add unified test.sh script with subcommands
  .github/copilot-instructions.md
  README.md
  backend/internal/handlers/storage_handler_test.go
  backend/scripts/test.sh
  frontend/package.json
  frontend/scripts/test.sh
  frontend/src/components/storage-stats.test.ts
  frontend/src/components/storage-stats.ts
  frontend/vitest.config.ts
  scripts/check-script-locations.sh
  test.sh
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

feat(admin): add password field for password-protected albums
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

fix(backend): relax password_hash validation for album creation
  backend/internal/models/album.go
  backend/internal/models/schema_validation_test.go
Due: go-vet-local, golangci-lint

feat(frontend): implement client-side password verification for static site
  data/albums.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/password-form.ts
Due: typescript-typecheck, eslint

fix(frontend): add null safety for album photos array
  data/albums.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/album-card.ts
  frontend/src/pages/password-form.ts
Due: typescript-typecheck, eslint

fix(frontend): improve password form button contrast in dark mode
  data/albums.json
  frontend/src/pages/password-form.ts
Due: typescript-typecheck, eslint

docs: mark all MVP manual E2E tests as complete
  docs/PLAN_MVP.md
Due: none

feat: Update PLAN_MVP.md with completed tasks and checklists
  docs/DEVELOPER_WORKFLOW.md
  docs/DEVELOPMENT_SETUP.md
  docs/PLAN_MVP.md
Due: none

docs: mark About and Contact sections as complete in implementation plan
  docs/PLAN_MVP.md
Due: none

docs: add planning work guidelines to copilot instructions
  .github/copilot-instructions.md
Due: none

docs: add concurrent upload implementation plan
  docs/plan/PLAN_CONCURRENT_UPLOADS.md
Due: none

feat: add UploadPlaceholder component for file upload progress tracking
  data/albums.json
  frontend/src/components/upload-placeholder.test.ts
  frontend/src/components/upload-placeholder.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/utils/admin-api.ts
Due: typescript-typecheck, eslint

feat: enhance album editor with upload completion handling and delete functionality
  data/albums.json
  frontend/src/components/upload-placeholder.test.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/utils/admin-api.ts
Due: typescript-typecheck, eslint

refactor: improve concurrent upload UX and state management
  .github/copilot-instructions.md
  data/albums.json
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/utils/admin-api.ts
Due: typescript-typecheck, eslint

feat: add bulk delete photos button with sequential deletion
  data/albums.json
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

Refactor album cover and lazy image components by removing animations; enhance admin album editor with auto-save functionality and unsaved changes handling
  data/albums.json
  frontend/src/components/album-cover-hero.ts
  frontend/src/components/lazy-image.ts
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

feat: enhance admin album editor layout and add markdown support for album details
  data/albums.json
  docs/plan/PLAN_MARKDOWN.md
  frontend/src/components/album-cover-hero.ts
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

feat: improve admin album editor layout with fixed scrollbars and responsive buttons
  data/albums.json
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

fix: add proper light mode colors for form fields in album editor
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

albums
  data/albums.json
Due: none

fix: display usable upload space instead of total free space in album editor
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

feat: enhance admin album editor layout and add markdown support for album details
  data/albums.json
  data/site_config.json
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

first year of film
  data/albums.json
Due: none

fix: update pre-commit hooks and improve npm installation in provision script
  .pre-commit-config.yaml
  docs/plan/PLAN_MARKDOWN.md
  provision.sh
  scripts/test-api.sh
Due: none

provision should install goimports
  provision.sh
Due: none

docs: update E2E test plan with Vitest 4.0 and visual regression testing
  docs/plan/PLAN_E2E_TEST.md
Due: none

feat: make document title dynamic from site config
  frontend/src/components/app-shell.ts
  frontend/src/index.html
Due: typescript-typecheck, eslint

albums
  data/albums.json
  data/site_config.json
Due: none

docs: expand Open Graph implementation plan with detailed specifications
  docs/plan/PLAN_OPEN_GRAPH.md
Due: none

feat: add Apache reverse proxy configuration and backend deployment setup
  deployment/BACKEND_DEPLOYMENT.md
  deployment/README.md
  deployment/apache-site-nielsshootsfilm.com.conf
  deployment/photo-admin.service
  deployment/server-provision.sh
  scripts/check-script-locations.sh
Due: none

fix: update hash-password script to use backend Go module
  backend/go.mod
  backend/go.sum
  deployment/BACKEND_DEPLOYMENT.md
  deployment/README.md
  deployment/photo-admin.service
  deployment/server-provision.sh
  frontend/.env.production
  frontend/src/pages/admin-login-page.ts
  frontend/src/utils/admin-api.ts
  scripts/hash-password.sh
Due: typescript-typecheck, eslint

docs: streamline deployment documentation
  deployment/BACKEND_DEPLOYMENT.md
  deployment/README.md
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
  scripts/server-build-backend.sh
  scripts/server-build-frontend.sh
Due: none

feat: add responsive layout for admin album editor
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

feat: refactor frontend deployment to use staging directory
  deployment/README.md
  scripts/deploy-frontend.sh
  scripts/server-build-frontend.sh
  scripts/server-install-frontend.sh
Due: none

docker plan
  docs/plan/PLAN_DOCKER_MIGRATION.md
Due: none

refactor: remove Phase 8 Enhancements plan document
  docs/plan/PLAN_DOCKER_MIGRATION.md
  docs/plan/PLAN_PHASE8_ENHANCEMENTS.md
Due: none

Remove deprecated Apache configuration files and server provisioning script
  README.md
  deployment/README.md
  deployment/apache-site-nielsshootsfilm.com.conf
  deployment/apache-site.conf
  deployment/server-provision.sh
  docs/DEPLOYMENT.md
  docs/plan/PLAN_DOCKER_MIGRATION.md
  fmt.sh
  frontend/.env.production
  frontend/scripts/build.sh
  frontend/scripts/fmt.sh
  scripts/check-script-locations.sh
  scripts/deploy-backend.sh
  scripts/deploy-frontend.sh
  scripts/generate-apache-config.sh
  scripts/server-build-backend.sh
  scripts/server-install-frontend.sh
Due: none

fix: resolve TypeScript errors in photo-lightbox test
  frontend/src/components/photo-lightbox.test.ts
Due: typescript-typecheck, eslint

fix: improve mobile zoom handling and remove tap navigation
  frontend/src/components/photo-lightbox.ts
  frontend/src/index.html
Due: typescript-typecheck, eslint

Path conditions:
  typescript-typecheck: any of: \.ts$
  eslint: any of: \.(ts|js)$
  go-vet-local: any of: \.go$
  golangci-lint: any of: \.go$
