Repository njoubert/nielsshootsfilm-planfirst: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, eslint, go-vet-local, golangci-lint

Path conditions:
  typescript-typecheck: any of: \.ts$
  eslint: any of: \.(ts|js)$
  go-vet-local: any of: \.go$
  golangci-lint: any of: \.go$

feat: add dark mode support for admin interface
  data/site_config.json
  frontend/src/components/admin-header.ts
  frontend/src/main.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-login-page.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/styles/admin-theme.css
Due: typescript-typecheck, eslint

removing unneeded extensions from recommended list
  .vscode/extensions.json
Due: none

Removing extraneous details and kruft
  backend/cmd/test_hash/main.go
  backend/scripts/README.md
  frontend/scripts/README.md
  scripts/README.md
  scripts/download-sample-images.js
  scripts/download-sample-images.sh
Due: eslint, go-vet-local, golangci-lint

feat: unify .env files and improve build isolation
  .env.example
  .github/copilot-instructions.md
  .gitignore
  backend/.env.example
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/scripts/build.sh
  build.sh
  frontend/scripts/build.sh
  frontend/vite.config.ts
  scripts/bootstrap.sh
  scripts/check-script-locations.sh
Due: typescript-typecheck, eslint

feat: add deployment server configuration to .env
  .env.example
  frontend/scripts/build.sh
Due: none

refactor: move bootstrap.sh to root and fix rsync deployment
  .env.example
  README.md
  backend/cmd/admin/main.go
  bootstrap.sh
  docs/DEVELOPER_WORKFLOW.md
  frontend/scripts/build.sh
  provision.sh
  scripts/check-script-locations.sh
Due: go-vet-local, golangci-lint

feat: UI improvements for navigation, hero, and photo grid
  docs/PLAN_MVP.md
  docs/reports/2025-10-20-21_typography_improvements.md
  frontend/src/components/album-cover-hero.ts
  frontend/src/components/app-nav.ts
  frontend/src/components/app-shell.ts
  frontend/src/components/photo-grid.ts
  frontend/src/components/photo-lightbox.ts
  frontend/src/styles/admin-theme.css
  frontend/src/styles/global.css
Due: typescript-typecheck, eslint

feat: enhance lightbox UI and interaction
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

refactor: streamline navigation and fix white flash
  frontend/src/components/album-cover-hero.ts
  frontend/src/components/app-nav.ts
  frontend/src/index.html
Due: typescript-typecheck, eslint

feat: add tap-to-advance on lightbox images for mobile
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

refactor: simplify album cards design
  frontend/src/components/album-card.ts
Due: typescript-typecheck, eslint

fix: backend startup path configuration
  data/albums.json
  data/site_config.json
Due: none

Refactor album descriptions and update timestamps in albums.json
  data/albums.json
  data/site_config.json
  frontend/src/components/app-nav.ts
  frontend/src/components/photo-lightbox.ts
  frontend/src/index.html
  frontend/src/main.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/portfolio-page.ts
  frontend/src/styles/global.css
  frontend/src/styles/theme.css
Due: typescript-typecheck, eslint

refactor: update photo item styles for improved layout and responsiveness
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/styles/theme.css
Due: typescript-typecheck, eslint

feat: add drag-and-drop photo reordering with improved overlay
  backend/cmd/admin/main.go
  backend/internal/handlers/album_handler.go
  backend/internal/services/album_service.go
  backend/internal/services/album_service_test.go
  data/albums.json
  docs/reports/2025-10-21-11_drag_drop_photo_reorder.md
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/utils/admin-api.ts
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

feat: add shellcheck to provisioning and improve dev.sh
  dev.sh
  provision.sh
Due: none

docs: document project scripts in copilot instructions
  .github/copilot-instructions.md
Due: none

feat: improve drag-and-drop visual feedback in album editor
  data/albums.json
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

refactor: improve lightbox to fill screen with floating controls
  .github/copilot-instructions.md
  data/albums.json
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

refactor: improve lightbox navigation and layout
  data/albums.json
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

feat: add subtle hover effects to lightbox controls
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

feat: add photo change and lightbox close event handling in album and portfolio pages
  frontend/src/components/photo-lightbox.ts
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/portfolio-page.ts
  frontend/src/utils/router.ts
Due: typescript-typecheck, eslint

feat: add download, copy link, and share functionality to photo lightbox
  dev.sh
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

feat: add status check commands for development scripts
  .github/copilot-instructions.md
Due: none

feat: add elegant lightbox toolbar with download, share, and copy link buttons
  frontend/src/assets/icons/download-simple.svg
  frontend/src/assets/icons/link.svg
  frontend/src/assets/icons/share-fat.svg
  frontend/src/assets/icons/x-circle.svg
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

Disk space plan.
  docs/plan/PLAN_DISKUSAGE.md
Due: none

feat: implement disk usage management with dashboard display
  .github/copilot-instructions.md
  backend/cmd/admin/main.go
  backend/internal/handlers/config_handler.go
  backend/internal/handlers/storage_handler.go
  backend/internal/handlers/storage_handler_test.go
  backend/internal/models/site_config.go
  backend/internal/services/image_service.go
  backend/internal/services/image_service_test.go
  data/site_config.json
  docs/plan/PLAN_DISKUSAGE.md
  docs/reports/2025-10-21-21_disk_usage_tests.md
  frontend/src/components/storage-stats.test.ts
  frontend/src/components/storage-stats.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-dashboard-page.test.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-settings-page.test.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/types/data-models.ts
  frontend/src/utils/admin-api.test.ts
  frontend/src/utils/api.test.ts
  frontend/vite.config.ts
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

nice readme images
  README.md
  image-1.png
  image-2.png
Due: none

fix: persist max_image_size_mb setting correctly
  backend/internal/handlers/config_handler.go
  backend/internal/models/site_config.go
  backend/internal/services/image_service.go
  backend/internal/services/image_size_test.go
  data/albums.json
  data/site_config.json
  docs/plan/PLAN_DISKUSAGE.md
  frontend/src/pages/admin-album-editor-page.test.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-dashboard-page.test.ts
  frontend/src/pages/admin-settings-page.test.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/types/data-models.ts
  frontend/src/utils/admin-api.test.ts
  frontend/src/utils/api.test.ts
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

fix: enable browser back button from album view to admin
  frontend/src/pages/admin-albums-page.ts
Due: typescript-typecheck, eslint

fix: improve album card layout consistency
  data/albums.json
  frontend/src/pages/admin-albums-page.ts
Due: typescript-typecheck, eslint

feat: add toast notification system for better user feedback
  data/albums.json
  frontend/src/components/toast-notification.test.ts
  frontend/src/components/toast-notification.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-settings-page.ts
Due: typescript-typecheck, eslint

feat: complete toast notification migration and improve admin header
  data/albums.json
  data/site_config.json
  frontend/src/components/admin-header.ts
  frontend/src/components/toast-notification.test.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-login-page.ts
Due: typescript-typecheck, eslint

fix: persist password changes to disk
  backend/cmd/admin/main.go
  backend/internal/handlers/storage_handler.go
  backend/internal/services/auth_service.go
  backend/internal/services/auth_service_test.go
  data/albums.json
  frontend/src/components/storage-stats.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

feat: add dark/light mode toggle to admin interface
  data/albums.json
  frontend/src/components/admin-header.ts
  frontend/src/components/storage-stats.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/styles/theme.css
Due: typescript-typecheck, eslint

refactor: unify admin interface styling with public site
  docs/reports/2025-10-21-23_admin_styling_unification.md
  frontend/src/components/admin-header.ts
  frontend/src/components/storage-stats.ts
  frontend/src/components/toast-notification.ts
  frontend/src/main.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-login-page.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/styles/admin.css
  frontend/src/styles/global.css
  frontend/src/styles/theme.css
Due: typescript-typecheck, eslint

fix(admin): implement proper logout state clearing and auth guard
  docs/DEVELOPMENT_SETUP.md
  docs/plan/PLAN_ANALYTICS.md
  docs/plan/PLAN_BLOG.md
  docs/plan/PLAN_BULKEXPORT.md
  docs/plan/PLAN_DARKMODE.md
  docs/plan/PLAN_E2E_TEST.md
  docs/plan/PLAN_PHASE8_ENHANCEMENTS.md
  docs/plan/PLAN_SEO.md
  docs/reports/2025-10-22-logout-cache-bug-fix.md
  frontend/src/components/app-shell.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/utils/admin-api.ts
  frontend/src/utils/auth-state.ts
Due: typescript-typecheck, eslint

feat(auth): add dev/prod password configuration system
  .env.example
  backend/cmd/admin/main.go
  docs/DEPLOYMENT.md
Due: go-vet-local, golangci-lint

feat(dev): add direnv for automatic script PATH management
  .envrc
  README.md
  provision.sh
Due: none

fix(storage): calculate reserved space from configurable max_disk_usage_percent
  backend/internal/handlers/storage_handler.go
  frontend/src/components/storage-stats.ts
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint
