Repository njoubert/nielsshootsfilm-planfirst: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, eslint, go-vet-local, golangci-lint

Path conditions:
  typescript-typecheck: any of: \.ts$
  eslint: any of: \.(ts|js)$
  go-vet-local: any of: \.go$
  golangci-lint: any of: \.go$

plans
  docs/deployment/backend_in_docker_on_macos.md
  docs/deployment/backend_on_macos.md
Due: none

fixing bootstrap script location
  bootstrap.sh
Due: none

build also copies env file
  backend/scripts/build.sh
Due: none

moving from .env to env, no need to hide it
  .envrc
  .gitignore
  README.md
  backend/.dockerignore
  backend/README.md
  backend/cmd/admin/main.go
  backend/scripts/build.sh
  backend/scripts/start-backend.sh
  backend/scripts/stop-backend.sh
  bootstrap.sh
  data/albums.json
  deployment/photo-admin.service
  dev.sh
  docs/PLAN_MVP.md
  docs/deployment/backend_in_docker_on_macos.md
  docs/deployment/deploy_frontend.md
  docs/plan/PLAN_DOCKER_MIGRATION.md
  docs/plan/PLAN_GREMLINS_CHAOS_TESTING.md
  docs/plan/PLAN_MVP.md
  docs/plan/PLAN_SENTRY_MONITORING.md
  docs/reports/2025-10-20-19_frontend_production_build.md
  docs/reports/API_TEST_RESULTS.md
  docs/reports/PHASE_1.5_COMPLETE.md
  env.example
  frontend/env.production
  frontend/scripts/build.sh
  frontend/scripts/start-frontend.sh
  frontend/scripts/stop-frontend.sh
  provision.sh
Due: go-vet-local, golangci-lint

get rid of -planfirst and unnecessary provisionins details
  README.md
  backend/cmd/admin/main.go
  backend/cmd/hash-password/main.go
  backend/go.mod
  backend/internal/handlers/album_handler.go
  backend/internal/handlers/auth_handler.go
  backend/internal/handlers/config_handler.go
  backend/internal/handlers/storage_handler.go
  backend/internal/handlers/storage_handler_test.go
  backend/internal/middleware/auth.go
  backend/internal/services/album_service.go
  backend/internal/services/album_service_test.go
  backend/internal/services/image_service.go
  backend/internal/services/image_service_test.go
  backend/internal/services/site_config_service.go
  docs/reports/2025-10-21-21_disk_usage_tests.md
  docs/reports/PHASE_1.5_COMPLETE.md
  frontend/package-lock.json
  provision.sh
Due: go-vet-local, golangci-lint

dont do passwords in env file when bootstrapping.
  bootstrap.sh
  env.example
Due: none

cleaning up env files
  .vscode/launch.json
  env.example
  frontend/scripts/build.sh
Due: none

proper password for dev vs prod
  backend/cmd/admin/main.go
  bootstrap.sh
  env.example
  provision.sh
Due: go-vet-local, golangci-lint

cleaning up password hashing helpers
  backend/cmd/hash-password/main.go
  bootstrap.sh
  scripts/hash-password.sh
  scripts/hash_password.go
Due: go-vet-local, golangci-lint

pointing the api healthz to the right path
  backend/cmd/admin/main.go
Due: go-vet-local, golangci-lint

put all the /api routes behind auth. this helps clearly split the public static side from the admin site
  backend/cmd/admin/main.go
  data/site_config.json
Due: go-vet-local, golangci-lint

bugfix: admin pages uses API to get config, not the same as the public site
  data/site_config.json
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/utils/admin-api.test.ts
  frontend/src/utils/admin-api.ts
Due: typescript-typecheck, eslint

Go backend requires environment file as a command line flag.
  backend/cmd/admin/main.go
  backend/go.mod
  backend/go.sum
  backend/scripts/build.sh
  backend/scripts/start-backend.sh
Due: go-vet-local, golangci-lint

Deployment of macos right on the server is done
  backend/scripts/deploy-macos.sh
  deployment/photo-admin.service
Due: none

docs: Add v1.0.0 release notes
  docs/releases/v1.0.0.md
Due: none

v1.0 out!
  README.md
  docs/releases/v1.0.0.md
Due: none

allow 1000 uploads with 4 concurrently for big albums why not. also improve the styling a bit
  frontend/src/components/album-cover-hero.ts
  frontend/src/components/loading-spinner.ts
  frontend/src/components/upload-placeholder.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/utils/constants.ts
Due: typescript-typecheck, eslint

Gorgeous spinners for waiting and for uploading
  frontend/src/components/app-shell.ts
  frontend/src/components/loading-spinner.ts
  frontend/src/components/upload-placeholder.ts
  frontend/src/pages/funsies-page.ts
Due: typescript-typecheck, eslint

New Endpoint for Delete All Photos In Album
  backend/cmd/admin/main.go
  backend/internal/handlers/album_handler.go
  backend/internal/services/album_service.go
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/utils/admin-api.ts
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint
