Repository njoubert/nielsshootsfilm-planfirst: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, eslint, go-vet-local, golangci-lint

Path conditions:
  typescript-typecheck: any of: \.ts$
  eslint: any of: \.(ts|js)$
  go-vet-local: any of: \.go$
  golangci-lint: any of: \.go$

feat: start Phase 3 - Frontend foundation and core components
  frontend/src/components/app-nav.ts
  frontend/src/components/lazy-image.ts
  frontend/src/components/loading-spinner.ts
  frontend/src/types/data-models.ts
  frontend/src/utils/api.ts
  frontend/src/utils/theme-manager.ts
  frontend/tsconfig.json
Due: typescript-typecheck, eslint

limitations
  .github/copilot-instructions.md
Due: none

feat: add photo display components
  frontend/src/components/album-card.ts
  frontend/src/components/album-cover-hero.ts
  frontend/src/components/app-footer.ts
  frontend/src/components/photo-grid.ts
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

fix: resolve TypeScript and ESLint errors in page components
  WORKSPACE
  docs/PLAN_MVP.md
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/album-list-page.ts
  frontend/src/pages/password-form.ts
  frontend/src/pages/portfolio-page.ts
Due: typescript-typecheck, eslint

feat: add Phase 3 frontend components and router
  frontend/src/components/album-card.ts
  frontend/src/components/album-cover-hero.ts
  frontend/src/components/app-footer.ts
  frontend/src/components/photo-grid.ts
  frontend/src/components/photo-lightbox.ts
  frontend/src/utils/router.ts
Due: typescript-typecheck, eslint

chore: apply auto-fixes from pre-commit hooks
  docs/DEVELOPMENT_SETUP.md
  docs/PLAN_ANALYTICS.md
  docs/PLAN_BLOG.md
  docs/PLAN_BULKEXPORT.md
  docs/PLAN_DARKMODE.md
  docs/PLAN_DISKUSAGE.md
  docs/PLAN_E2E_TEST.md
  docs/PLAN_PHASE8_ENHANCEMENTS.md
  docs/PLAN_SEO.md
  e2e/BUILD.bazel
  frontend/BUILD.bazel
  frontend/eslint.config.js
  frontend/vite.config.ts
  frontend/vitest.config.ts
Due: typescript-typecheck, eslint

test: add unit tests for frontend utilities
  frontend/package-lock.json
  frontend/package.json
  frontend/src/utils/api.test.ts
  frontend/src/utils/router.test.ts
  frontend/src/utils/theme-manager.test.ts
Due: typescript-typecheck, eslint

fix: resolve all test failures in frontend utilities
  frontend/src/test-setup.ts
  frontend/src/utils/api.test.ts
  frontend/src/utils/router.test.ts
  frontend/src/utils/theme-manager.test.ts
  frontend/vitest.config.ts
Due: typescript-typecheck, eslint

test: add component tests for simple components and lazy-image
  frontend/eslint.config.js
  frontend/src/components/app-footer.test.ts
  frontend/src/components/app-nav.test.ts
  frontend/src/components/lazy-image.test.ts
  frontend/src/components/loading-spinner.test.ts
Due: typescript-typecheck, eslint

feat: implement complete app-shell and bootstrap main application
  frontend/src/components/app-shell.ts
  frontend/src/index.html
  frontend/src/main.ts
Due: typescript-typecheck, eslint

test: add comprehensive tests for album-card component
  frontend/eslint.config.js
  frontend/src/components/album-card.test.ts
  frontend/src/components/app-footer.test.ts
  frontend/src/components/app-nav.test.ts
  frontend/src/components/app-shell.ts
  frontend/src/components/lazy-image.test.ts
  frontend/src/index.html
Due: typescript-typecheck, eslint

fix: configure Vite to serve data files and add sample portfolio data
  data/albums.json
  data/site_config.json
  frontend/vite.config.ts
Due: typescript-typecheck, eslint

making it run loally
  frontend/src/components/album-card.test.ts
  frontend/src/data
  frontend/vite.config.ts
Due: typescript-typecheck, eslint

test: add album-cover-hero component tests (14 tests)
  frontend/src/components/album-cover-hero.test.ts
Due: typescript-typecheck, eslint

test: add photo-grid component tests (18 tests)
  frontend/src/components/photo-grid.test.ts
Due: typescript-typecheck, eslint

test: add photo-lightbox component tests (31 tests)
  data/site_config.json
  frontend/src/components/album-cover-hero.test.ts
  frontend/src/components/photo-grid.test.ts
  frontend/src/components/photo-lightbox.test.ts
Due: typescript-typecheck, eslint

feat: add script to download and cache sample images locally
  data/albums.json
  scripts/download-sample-images.js
Due: eslint

docs: add README for scripts directory
  frontend/src/components/photo-lightbox.test.ts
  scripts/README.md
Due: typescript-typecheck, eslint

fix: configure Vite to serve static uploads directory
  .github/copilot-instructions.md
  frontend/vite.config.ts
Due: typescript-typecheck, eslint

server statics
  frontend/vite.config.ts
Due: typescript-typecheck, eslint

feat: implement complete backend admin server (Phase 4)
  .gitignore
  backend/.env.example
  backend/README.md
  backend/cmd/admin/main.go
  backend/cmd/hash-password/main.go
  backend/go.mod
  backend/internal/handlers/album_handler.go
  backend/internal/handlers/auth_handler.go
  backend/internal/handlers/config_handler.go
  backend/internal/middleware/auth.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/recovery.go
  backend/internal/middleware/request_id.go
  backend/internal/middleware/security.go
  backend/internal/services/album_service.go
  backend/internal/services/auth_service.go
  backend/internal/services/file_service.go
  backend/internal/services/image_service.go
  backend/internal/services/site_config_service.go
Due: go-vet-local, golangci-lint

test: add comprehensive unit tests for backend services
  backend/go.mod
  backend/internal/services/album_service.go
  backend/internal/services/album_service_test.go
  backend/internal/services/auth_service_test.go
  backend/internal/services/file_service_test.go
Due: go-vet-local, golangci-lint

feat: add comprehensive API test suite and server management scripts
  .gitignore
  backend/cmd/test_hash/main.go
  docs/API_TEST_RESULTS.md
  docs/PLAN_MVP.md
  scripts/start-backend.sh
  scripts/stop-backend.sh
  scripts/test-api.sh
Due: go-vet-local, golangci-lint

chore: add backup files to .gitignore
  .gitignore
Due: none

feat: implement backend server management scripts and comprehensive API testing
  data/albums.json
Due: none

feat: add complete admin interface with authentication and album management
  frontend/src/components/app-shell.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-login-page.ts
  frontend/src/utils/admin-api.ts
  frontend/src/utils/router.ts
Due: typescript-typecheck, eslint

test: Add comprehensive unit tests for admin frontend
  .github/copilot-instructions.md
  docs/plan/PLAN_ANALYTICS.md
  docs/plan/PLAN_BLOG.md
  docs/plan/PLAN_BULKEXPORT.md
  docs/plan/PLAN_DARKMODE.md
  docs/plan/PLAN_DISKUSAGE.md
  docs/plan/PLAN_E2E_TEST.md
  docs/plan/PLAN_MVP.md
  docs/plan/PLAN_PHASE8_ENHANCEMENTS.md
  docs/plan/PLAN_SEO.md
  docs/reports/ADMIN_FRONTEND_TEST_RESULTS.md
  docs/reports/API_TEST_RESULTS.md
  docs/reports/PHASE_1.5_COMPLETE.md
  frontend/src/components/app-shell.ts
  frontend/src/pages/admin-album-editor-page.test.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.test.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-login-page.test.ts
  frontend/src/pages/admin-login-page.ts
  frontend/src/utils/admin-api.test.ts
  frontend/src/utils/router.test.ts
Due: typescript-typecheck, eslint

feat: Add comprehensive Bazel build system integration (Phase 5)
  .bazelrc
  .github/copilot-instructions.md
  .gitignore
  BUILD.bazel
  backend/BUILD.bazel
  backend/dev.sh
  backend/fmt.sh
  backend/lint.sh
  backend/test-coverage.sh
  backend/test.sh
  backend/tidy.sh
  data/BUILD.bazel
  dev.sh
  docs/BAZEL_CHEATSHEET.md
  docs/BAZEL_SETUP.md
  docs/reports/PHASE_5_BAZEL_COMPLETE.md
  format.sh
  frontend/BUILD.bazel
  frontend/build.sh
  frontend/dev.sh
  frontend/format.sh
  frontend/lint.sh
  frontend/test-watch.sh
  frontend/test.sh
  frontend/typecheck.sh
  scripts/README.md
  scripts/download-sample-images.sh
  scripts/hash-password.sh
  static/BUILD.bazel
  testdata/BUILD.bazel
Due: none

bazel instructions
  docs/BAZEL_SETUP.md
Due: none

feat: Add automated provisioning script for first-time setup
  README.md
  provision.sh
Due: none

docs: Add provision script implementation report
  .github/copilot-instructions.md
  docs/reports/PROVISION_SCRIPT_COMPLETE.md
Due: none

run pre-commit before committing.
  .github/copilot-instructions.md
Due: none

refactor: Remove Bazel, replace with simple script-based workflow
  .bazelrc
  .github/copilot-instructions.md
  BUILD.bazel
  README.md
  WORKSPACE
  backend/BUILD.bazel
  backend/internal/handlers/BUILD.bazel
  backend/internal/models/BUILD.bazel
  backend/internal/services/BUILD.bazel
  backend/scripts/build.sh
  backend/scripts/dev.sh
  backend/scripts/fmt.sh
  backend/scripts/lint.sh
  backend/scripts/test-coverage.sh
  backend/scripts/test.sh
  backend/scripts/tidy.sh
  data/BUILD.bazel
  dev.sh
  docs/BAZEL_CHEATSHEET.md
  docs/BAZEL_SETUP.md
  docs/reports/PHASE_5_BAZEL_COMPLETE.md
  docs/reports/PROVISION_SCRIPT_COMPLETE.md
  e2e/BUILD.bazel
  format.sh
  frontend/BUILD.bazel
  frontend/scripts/build.sh
  frontend/scripts/dev.sh
  frontend/scripts/format.sh
  frontend/scripts/lint.sh
  frontend/scripts/test-watch.sh
  frontend/scripts/test.sh
  frontend/scripts/typecheck.sh
  provision.sh
  static/BUILD.bazel
  testdata/BUILD.bazel
Due: none

docs: Add README files for frontend and backend scripts directories
  backend/scripts/README.md
  frontend/scripts/README.md
Due: none

docs: Add Bazel removal report documenting the migration to scripts
  .github/copilot-instructions.md
  docs/reports/BAZEL_REMOVAL.md
Due: none

we removed bazxel.
  docs/reports/BAZEL_REMOVAL.md
Due: none

fix: Remove remaining Bazel references from shell scripts
  scripts/README.md
  scripts/bootstrap.sh
Due: none

docs: Update planning docs to reflect Bazel removal
  docs/DEVELOPMENT_SETUP.md
  docs/plan/PLAN_MVP.md
Due: none

fix: Use Node.js bcryptjs instead of Go for password hashing in bootstrap
  scripts/bootstrap.sh
Due: none

feat: Add golang.org/x/crypto/bcrypt to backend for password hashing
  .gitignore
  backend/go.sum
  scripts/bootstrap.sh
Due: none
