Repository njoubert/nielsshootsfilm-planfirst: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, eslint, go-vet-local, golangci-lint

Path conditions:
  typescript-typecheck: any of: \.ts$
  eslint: any of: \.(ts|js)$
  go-vet-local: any of: \.go$
  golangci-lint: any of: \.go$

fix: properly gate EXIF panel rendering with showExif prop
  frontend/src/components/photo-lightbox.test.ts
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

feat: add frontend deployment script
  .github/copilot-instructions.md
  scripts/deploy-frontend.sh
Due: none

move frontend deploy
  frontend/scripts/deploy-frontend.sh
Due: none

fix: prevent page crash on mobile zoom in lightbox
  frontend/src/components/photo-lightbox.test.ts
  frontend/src/components/photo-lightbox.ts
  scripts/deploy-frontend.sh
Due: typescript-typecheck, eslint

feat: implement custom pinch-to-zoom for lightbox images
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

Plan to turn lightbox into its own page.
  .github/copilot-instructions.md
  docs/plan/PLAN_LIGHTBOX_AS_PAGE.md
Due: none

feat: convert lightbox overlay to dedicated photo page route
  docs/plan/PLAN_LIGHTBOX_AS_PAGE.md
  frontend/src/components/app-shell.ts
  frontend/src/components/photo-lightbox.test.ts
  frontend/src/components/photo-lightbox.ts
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/album-photo-page.ts
  frontend/src/pages/portfolio-page.ts
  frontend/vite.config.ts
Due: typescript-typecheck, eslint

test: add comprehensive tests for album-photo-page component
  frontend/src/pages/album-photo-page.test.ts
Due: typescript-typecheck, eslint

docs: add frontend testing conventions and guidelines for Vitest, sinon, and chai
  .github/copilot-instructions.md
Due: none

Bring back swiping on images!
  frontend/src/pages/album-photo-page.test.ts
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

docs: update status of lightbox overlay conversion plan to done
  docs/plan/PLAN_LIGHTBOX_AS_PAGE.md
Due: none

feat: implement loading screen grace period for photo loading
  frontend/src/pages/album-photo-page.test.ts
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

feat: add background preloading for photo viewer
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

refactor: update navigation links in AppNav tests to reflect new structure
  frontend/src/components/album-card.test.ts
  frontend/src/components/app-nav.test.ts
Due: typescript-typecheck, eslint

fix: correct admin-api test mocks for checkAuth and uploadPhotos
  frontend/src/utils/admin-api.test.ts
Due: typescript-typecheck, eslint

fix: update storage-stats and upload-placeholder test mocks and expectations
  frontend/src/components/storage-stats.test.ts
  frontend/src/components/upload-placeholder.test.ts
Due: typescript-typecheck, eslint

fix: update admin component tests for correct properties and simplify mocking
  frontend/src/components/admin-header.test.ts
  frontend/src/pages/admin-dashboard-page.test.ts
  frontend/src/pages/admin-settings-page.test.ts
Due: typescript-typecheck, eslint

refactor: centralize navigation with type-safe routes library
  .github/copilot-instructions.md
  frontend/NAVIGATION_GUIDE.md
  frontend/src/components/admin-header.ts
  frontend/src/components/app-nav.ts
  frontend/src/components/app-shell.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-login-page.ts
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/album-list-page.ts
  frontend/src/pages/album-photo-page.ts
  frontend/src/pages/portfolio-page.ts
  frontend/src/utils/navigation.test.ts
  frontend/src/utils/navigation.ts
Due: typescript-typecheck, eslint

fix: reverse swipe direction on photo viewer for intuitive navigation
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

feat: add research and implementation plan for touch gesture handling using Hammer.js
  docs/plan/PLAN_TOUCH_GESTURES.md
Due: none

feat: add console logs for data loading in admin and portfolio pages; prevent duplicate data loads in portfolio page
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/portfolio-page.ts
Due: typescript-typecheck, eslint

feat: add comprehensive Sentry error monitoring plan to enhance debugging and performance tracking
  docs/plan/PLAN_SENTRY_MONITORING.md
Due: none

dont load data if we dont have a slug
  frontend/src/pages/album-detail-page.ts
Due: typescript-typecheck, eslint

adding debug level logging to data lods and fetches
  frontend/src/components/storage-stats.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/album-detail-page.ts
  frontend/src/pages/album-list-page.ts
  frontend/src/pages/album-photo-page.ts
  frontend/src/pages/portfolio-page.ts
  frontend/src/utils/api.ts
Due: typescript-typecheck, eslint

feat: implement Gremlins.js chaos testing plan for automated UI stress testing
  docs/plan/PLAN_GREMLINS_CHAOS_TESTING.md
Due: none

fix: add layout property to portfolio page photo-grid for consistent display
  frontend/src/pages/portfolio-page.ts
Due: typescript-typecheck, eslint

feat: add toast notification when copying photo link to clipboard
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

Fix Safari zoom crash by updating masonry layout
  frontend/src/components/photo-grid.ts
Due: typescript-typecheck, eslint

Enable VITE accessiblity on local LAN
  frontend/vite.config.ts
Due: typescript-typecheck, eslint

fix: update viewport settings to prevent mobile zoom and improve accessibility
  frontend/src/index.html
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

we are forcing viewpoint to 1.0
  frontend/src/main.ts
Due: typescript-typecheck, eslint

DISABLE MOBILE ZOOMING why the heck does ios zooming crash the page
  frontend/src/main.ts
Due: typescript-typecheck, eslint

rip out all CSS animations to stop the crash.
  docs/reports/2025-10-29-compositing-layer-analysis.md
  fmt.sh
  frontend/src/components/admin-header.ts
  frontend/src/components/album-card.ts
  frontend/src/components/album-cover-hero.ts
  frontend/src/components/app-footer.ts
  frontend/src/components/app-nav.ts
  frontend/src/components/app-shell.ts
  frontend/src/components/lazy-image.ts
  frontend/src/components/loading-spinner.ts
  frontend/src/components/photo-grid.ts
  frontend/src/components/storage-stats.ts
  frontend/src/components/toast-notification.ts
  frontend/src/components/upload-placeholder.ts
  frontend/src/main.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-login-page.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/pages/album-photo-page.ts
  frontend/src/pages/password-form.ts
Due: typescript-typecheck, eslint

don't zoom if you tap the nav buttons rapidly
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

use the fullscreen api for the photo page to help not have ios chrome when we go horizontal
  frontend/src/pages/album-photo-page.ts
Due: typescript-typecheck, eslint

copilot: NEVER write "transition: all"
  .github/copilot-instructions.md
Due: none

docker deploy
  .gitignore
  backend/.dockerignore
  backend/Dockerfile
  backend/cmd/admin/main.go
  docs/deployment/backend_docker.md
  docs/deployment/deploy_frontend.md
Due: go-vet-local, golangci-lint

Moving backend to port 6180
  .env.example
  .github/copilot-instructions.md
  .vscode/launch.json
  README.md
  backend/Dockerfile
  backend/README.md
  backend/cmd/admin/main.go
  backend/scripts/start-backend.sh
  backend/scripts/stop-backend.sh
  dev.sh
  docs/deployment/backend_docker.md
  docs/deployment/deploy_frontend.md
  docs/plan/PLAN_DOCKER_MIGRATION.md
  docs/reports/2025-10-20-15_E2E_TEST_RESULTS.md
  docs/reports/API_TEST_RESULTS.md
  frontend/src/utils/admin-api.test.ts
  frontend/vite.config.ts
  scripts/test-api.sh
  scripts/test-schema-validation.sh
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

moving to node v24 and go v1.25
  backend/go.mod
  frontend/package-lock.json
  provision.sh
Due: none

abandoning docker
  docs/deployment/backend_docker.md
Due: none
