Repository njoubert/nielsshootsfilm-planfirst: changes, and which pre-commit hooks are due for each by the changed paths.
All: typescript-typecheck, eslint, go-vet-local, golangci-lint

typescript-typecheck:
  name: TypeScript Type Check
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

go-vet-local:
  name: Go Vet
  entry: bash -c 'cd backend && go vet ./...'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd backend && golangci-lint run --fix'
  language: system
  pass_filenames: false

refactor: reorganize server scripts and fix admin authentication
  .bazelignore
  backend/.env.example
  backend/cmd/admin/main.go
  backend/internal/models/admin_config.go
  backend/internal/services/auth_service.go
  backend/scripts/README.md
  backend/scripts/dev.sh
  backend/scripts/start-backend.sh
  backend/scripts/stop-backend.sh
  dev.sh
  frontend/scripts/README.md
  frontend/scripts/dev.sh
  frontend/scripts/start-frontend.sh
  frontend/scripts/stop-frontend.sh
  scripts/README.md
  scripts/stop-backend.sh
Due: go-vet-local, golangci-lint

docs: Add instructions for using MCP servers for git interactions
  .github/copilot-instructions.md
Due: none

chore: remove duplicate scripts and enforce script directory structure
  .pre-commit-config.yaml
  backend/dev.sh
  backend/fmt.sh
  backend/lint.sh
  backend/test-coverage.sh
  backend/test.sh
  backend/tidy.sh
  frontend/build.sh
  frontend/dev.sh
  frontend/format.sh
  frontend/lint.sh
  frontend/test-watch.sh
  frontend/test.sh
  frontend/typecheck.sh
  scripts/check-script-locations.sh
Due: none

fix: update test-api.sh to use correct admin password
  scripts/test-api.sh
Due: none

docs: add comprehensive E2E test results
  docs/reports/2025-10-20-22_E2E_TEST_RESULTS.md
Due: none

testing
  .github/copilot-instructions.md
  docs/reports/2025-10-20-15_E2E_TEST_RESULTS.md
Due: none

fix: add missing route for creating new albums
  frontend/src/components/app-shell.ts
Due: typescript-typecheck, eslint

fix: handle albums with no photos in admin list view
  frontend/src/pages/admin-albums-page.test.ts
  frontend/src/pages/admin-albums-page.ts
Due: typescript-typecheck, eslint

fix: add dedicated auth check endpoint and schema validation tests
  backend/cmd/admin/main.go
  backend/internal/models/schema_validation_test.go
  backend/scripts/start-backend.sh
  dev.sh
  frontend/scripts/start-frontend.sh
  frontend/src/types/schema-validation.test.ts
  frontend/src/utils/admin-api.ts
  scripts/test-schema-validation.sh
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

feat: add start/stop commands to dev.sh script
  dev.sh
Due: none

feat: replace imaging library with govips for better performance
  .github/copilot-instructions.md
  backend/go.mod
  backend/go.sum
  backend/internal/services/image_service.go
  data/albums.json
  provision.sh
Due: go-vet-local, golangci-lint

fix: exclude JSON files from end-of-file-fixer hook
  .pre-commit-config.yaml
Due: none

feat: add HEIC and HEIF image format support
  backend/internal/services/image_service.go
  backend/internal/services/image_service_test.go
  provision.sh
Due: go-vet-local, golangci-lint

feat: improve error reporting in photo upload UI
  frontend/src/pages/admin-album-editor-page.test.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/utils/admin-api.test.ts
  frontend/src/utils/admin-api.ts
Due: typescript-typecheck, eslint

feat: format file sizes in human-readable format in error messages
  backend/internal/services/image_service.go
  backend/internal/services/image_service_test.go
  data/albums.json
Due: go-vet-local, golangci-lint

fix: browser back button now works correctly in admin interface
  frontend/src/utils/router.test.ts
  frontend/src/utils/router.ts
Due: typescript-typecheck, eslint

fix: correct album URL routing from album list page
  frontend/src/pages/album-list-page.ts
Due: typescript-typecheck, eslint

feat: add Admin link to navigation bar
  data/albums.json
  frontend/src/components/app-nav.ts
Due: typescript-typecheck, eslint

fix: call setMainPortfolioAlbum when saving album with portfolio flag
  data/albums.json
  frontend/src/pages/admin-album-editor-page.test.ts
  frontend/src/pages/admin-album-editor-page.ts
Due: typescript-typecheck, eslint

test: add comprehensive tests for image deletion
  backend/internal/services/image_service_test.go
Due: go-vet-local, golangci-lint

fix: improve lightbox image sizing to always show full image
  data/albums.json
  data/site_config.json
  frontend/src/components/photo-lightbox.ts
Due: typescript-typecheck, eslint

Changing albums
  data/albums.json
  data/site_config.json
Due: none

feat: complete admin frontend with dashboard, settings, and unified navigation
  docs/plan/PLAN_MVP.md
  docs/reports/2025-10-20-17_admin_frontend_completion.md
  frontend/src/components/admin-header.ts
  frontend/src/components/app-shell.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-settings-page.ts
  plan.md
Due: typescript-typecheck, eslint

fix: redirect to dashboard after login instead of albums page
  frontend/src/pages/admin-login-page.ts
Due: typescript-typecheck, eslint

feat: add comprehensive social media configuration and footer icons
  frontend/src/components/app-footer.ts
  frontend/src/pages/admin-settings-page.ts
  frontend/src/types/data-models.ts
Due: typescript-typecheck, eslint

test: add unit tests for admin components
  docs/reports/2025-01-20-18_UNIT_TEST_RESULTS.md
  frontend/src/components/admin-header.test.ts
  frontend/src/pages/admin-dashboard-page.test.ts
  frontend/src/pages/admin-settings-page.test.ts
Due: typescript-typecheck, eslint

fix: add aria-labels to footer social icons and update tests
  data/albums.json
  data/site_config.json
  frontend/src/components/app-footer.test.ts
  frontend/src/components/app-footer.ts
Due: typescript-typecheck, eslint

fix: update app-footer tests to reflect aria-label implementation and resolve emoji mismatch
  docs/reports/2025-01-20-18_UNIT_TEST_RESULTS.md
Due: none

refactor: remove duplicate is_portfolio_album property from albums
  backend/internal/models/album.go
  backend/internal/models/schema_validation_test.go
  data/albums.json
  data/site_config.json
  frontend/src/components/album-card.test.ts
  frontend/src/pages/admin-album-editor-page.test.ts
  frontend/src/pages/admin-album-editor-page.ts
  frontend/src/pages/admin-albums-page.test.ts
  frontend/src/pages/admin-dashboard-page.test.ts
  frontend/src/pages/admin-dashboard-page.ts
  frontend/src/pages/admin-settings-page.test.ts
  frontend/src/types/data-models.ts
  frontend/src/types/schema-validation.test.ts
  frontend/src/utils/admin-api.test.ts
  frontend/src/utils/admin-api.ts
  frontend/src/utils/api.test.ts
Due: typescript-typecheck, eslint, go-vet-local, golangci-lint

docs: add report for removing duplicate is_portfolio_album property
  docs/reports/2025-10-20-18_REMOVE_DUPLICATE_PORTFOLIO_FLAG.md
Due: none

feat: make album card covers square with centered crop
  data/albums.json
  data/site_config.json
  frontend/src/components/album-card.ts
  frontend/src/components/lazy-image.ts
Due: typescript-typecheck, eslint

fix: enforce square grid tiles for album cards
  frontend/src/components/album-card.ts
  frontend/src/pages/album-list-page.ts
Due: typescript-typecheck, eslint

Photos are now displayed on a grid
  data/albums.json
  data/site_config.json
  frontend/src/components/photo-grid.test.ts
  frontend/src/components/photo-grid.ts
  frontend/src/components/photo-lightbox.test.ts
  frontend/src/components/photo-lightbox.ts
  frontend/src/pages/album-list-page.ts
Due: typescript-typecheck, eslint

feat(build): add TS artifact cleanup and deployment guidance
  .env.example
  .gitignore
  data/albums.json
  data/site_config.json
  deployment/README.md
  deployment/apache-site-nielsshootsfilm.com.conf
  deployment/apache-site.conf
  docs/DEPLOYMENT.md
  docs/reports/2025-10-20-19_frontend_production_build.md
  frontend/README.md
  frontend/scripts/build.sh
  frontend/src/components/app-nav.ts
  frontend/vite.config.ts
  scripts/generate-apache-config.sh
Due: typescript-typecheck, eslint

fix: resolve Apache redirect loop and document root issues
  deployment/apache-site-nielsshootsfilm.com.conf
  deployment/apache-site.conf
Due: none

readme fix
  README.md
Due: none

updating albums
  data/albums.json
Due: none

album fixup
  data/albums.json
Due: none

Remove the public albums
  data/albums.json
Due: none

fix: prevent JavaScript files in frontend/src and fix HMR
  .gitignore
  .pre-commit-config.yaml
  frontend/vite.config.ts
  scripts/check-no-js-files.sh
Due: typescript-typecheck, eslint

Path conditions:
  typescript-typecheck: any of: \.ts$
  eslint: any of: \.(ts|js)$
  go-vet-local: any of: \.go$
  golangci-lint: any of: \.go$
